/*--------------------------------- Select Actor------------------------------------*/

@media only screen and (max-width:40em) {

    .btns{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        row-gap: 2rem !important;
        flex-direction: column !important;
        margin: 60px 0px 0px !important;
        background-color: transparent !important;
    }

}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    flex-direction: row;
    margin: 60px 0px 0px;
    background-color: transparent;
}

.btn{
    width: 249px;
    font-size:large;
    text-transform: uppercase;
    font-weight: 500;
    height: 8vh;
    border-radius: 15px;
    background-color: #323232;
    color: #DDD0C8;
    font-weight: 600;
    transition:
    scale .25s ease,
    opacity .25s ease,
    filter .25s ease;

    &:hover{
        scale: 1.2;
        background-color: transparent;
        color: #323232;
    }
}


.btns:has(.btn:hover) .btn:not(:hover){

    scale: 0.9;
    opacity: 1.0;
    filter: blur(2px);
}

